<div class="main">
  <div class="container" *ngIf="haveColors() ; else loadingColors">
    <img class="example-img" src="assets/logo.png">
    <div class="colors">
      <div class="chunk">
        <div *ngFor="let color of colors">
          <div class="color" [style.background]="color"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingColors>
  <svg class="loader" height="20" width="80" transform="translate(0, 300)">
    <circle class="c1" cx="10" cy="10" r="10"  fill="red"></circle>
    <circle class="c2" cx="40" cy="10" r="10" fill="blue"></circle>
    <circle class="c3" cx="70" cy="10" r="10" fill="green"></circle>
  </svg>
</ng-template>
