:host {
  display: grid;
  place-items: center;
  font-family: monospace;
}
.link {
  outline: none;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demos {
  transform: translateY(20px);
  width: 50%;
  height: 100%;
}
